<h2>Регистрация</h2>
<form action="/registration" method="POST">
  <label>Логин:</label>
  <input type="text" name="username" id="username">
  <label>Email:</label>
  <input type="text" name="email" id="email">
  <label>Пароль:</label>
  <input type="password" name="password" id="password">
  <input type="submit" value="Зарегистрироваться">
</form>